
.plistHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.newPlaylistBtn {
  background-color: #FFFFFF29;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.newPlaylistBtn:hover {
  background-color: rgb(88 196 220);
  color: white;
}

.playlistGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.playlistCard {
  background: #ffffff0a;
  border-radius: 10px;
  padding: 15px;
  transition: background 0.3s;
}

.playlistCard:hover {
  background-color: #2a2a2a;
}

.playlistThumb {
  width: 100%;
  height: 120px;
  background-color: #333;
  border-radius: 8px;
  margin-bottom: 10px;
}

.playlistTitle {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 5px;
}

.playlistCount {
  font-size: 0.9rem;
  color: #aaa;
}
